#contact {
  .content-wrapper {
    background: url('#{$image-path}/backgrounds/desk-workspace.jpg') no-repeat;
    padding: 0;
    background-size: cover;
    min-height: 100vh;
  }

  .contact-wrapper-container-top-row {
    @include media-breakpoint-up(xs) {
      padding: 4rem 0 0 0;
      min-height: 100vh;
    }

    @include media-breakpoint-up(xl) {
      .d-xl-block {
        text-align: center;

        embed {
          width: 450px;
          max-width: 650px;
        }
      }
    }

    @include media-breakpoint-up(xxl) {
      .d-xl-block {
        embed {
          width: 650px;
        }
      }
    }

    .contact-wrapper-container-inner-row {
      @include media-breakpoint-up(xs) {
        margin-right: auto;
        margin-left: auto;
      }

      @include media-breakpoint-up(xl) {
        margin-right: auto;
        margin-left: initial;
      }

      @import "contact-wrapper-container";
    }
  }

  .section-call-to-action {
    @include secondary-font;

    margin-top: 2rem;
    border-top: 0.2rem solid $style-whitest;
    border-bottom: 0.2rem solid $style-whitest;
    background-color: $style-highlight;
    color: $style-whitest;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.4rem;

    @include media-breakpoint-up(xs) {
      span {
        display: block;
      }
    }

    @include media-breakpoint-up(sm) {
      span {
        display: inline;

        &:first-child {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
