.contact-wrapper-inner {
  @include media-breakpoint-up(md) {
    max-width: map-get($grid-breakpoints, "sm");
  }

  @include media-breakpoint-up(lg) {
    max-width: map-get($grid-breakpoints, "md");
  }

  .cta-wrapper-outer {
    padding: 1rem;

    .cta-wrapper-inner {
      @include secondary-font();

      background: rgba(230, 233, 242, $backdrop-opacity-dark);
      padding: 1rem;
      color: $color-one;
      font-weight: bold;
      text-transform: uppercase;

      .fa-quote-left,
      .fa-quote-right {
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        color: $color-four;
      }

      .fa-quote-left {
        padding-right: 0.5rem;
      }

      .fa-quote-right {
        padding-left: 0.5rem;
      }
    }
  }

  @include media-breakpoint-up(xs) {
    .contact-form-wrapper-outer {
      padding: 2rem 0 0 0;
    }
  }

  @import "pages/contact/contact-form";
}
