#contact {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .contact-page-outer-wrapper {
    @include box-shadow();

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 1 auto;
    background: url('#{$image-path}/pages/contact/background.jpg') no-repeat top center;
    padding: 0;
    background-size: cover;

    @include media-breakpoint-up(xs) {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

    @import "pages/contact/contact-wrapper-inner";
  }

  @import "pages/index/cta-banner-wrapper";

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
