#four-o-four {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url('#{$image-path}/pages/four-o-four/background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: -70px;
  }

  .section-wrapper {
    max-width: map-get($grid-breakpoints, "md");

    .error-code {
      @include impact-font();
      @include text-stroke(1, $color-five);

      text-transform: uppercase;
      text-align: center;
      color: $color-four;
      font-weight: bold;

      @include media-breakpoint-up(xs) {
        font-size: 6rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 8rem;
      }
    }

    .error-redirect {
      .btn-primary {
        background-color: $color-five;
        border-color: $color-one;
        border-radius: 0;
        font-size: 0.9rem;
        padding: 1rem;
        line-height: 1.1rem;
        text-transform: uppercase;
        color: $color-one;

        &:hover {
          border-color: $highlight-color;
          font-weight: bold;
        }

        &:focus {
          @include box-shadow($blur: 0.2rem, $color: rgba(68, 27, 81, $backdrop-opacity));
        }
      }
    }
  }

  @import "pages/index/cta-banner-wrapper";

  .cta-offer-banner-wrapper {
    min-width: 100%;

    .cta-banner-wrapper {
      background: rgba(230, 233, 242, $backdrop-opacity-dark);


      a {
        color: $color-one;
      }
    }
  }
}
