#cover {
  background-color: $darkest-color;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  z-index: $zindex-cover;

  #preloader {
    @include box-shadow-all-sides($color: $highlight-color);

    font-weight: bold;
    color: $darkest-color;
    background-color: $color-white;
    text-transform: uppercase;

    .first,
    .last {
      animation: pulse 0.4s alternate infinite ease-in-out;

      @include media-breakpoint-up(xs) {
        font-size: 8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 10rem;
      }
    }

    .first {
      padding-right: 0.5rem;
    }

    .middle {
      color: $color-four;
      padding-top: 1rem;
      text-align: center;
      min-width: 10rem;

      @include media-breakpoint-up(xs) {
        max-width: 14rem;
        font-size: 1.5rem;
      }

      @include media-breakpoint-up(lg) {
        max-width: 30rem;
        font-size: 3rem;
      }
    }

    .last {
      animation-delay: 0.4s;
      padding-left: 0.5rem;
    }
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}
