meta[charset="utf-8"]
meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
meta[name="description" content="#{data.components.meta.description}"]
meta[name="HandheldFriendly" content="True"]
meta[property="og:url" content="#{data.components.url}"]
meta[property="og:type" content="website"]
meta[property="og:title" content="#{data.components.social.formalname} | #{data.components.social.focus}"]
meta[property="og:image" content="#{image_path('logos/meta.png')}"]
