$image-path: '../../assets/images/';

$backdrop-opacity: 0.8;
$backdrop-opacity-light: 0.6;

$grid-breakpoints: (
  xs: 0,
  minimium: 375px,
  transition: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  maximum: 1000px,
  xl: 1200px,
  xxl: 1800px,
  xxxl: 2450px
);
