$image-path: '../../assets/images/';

$color-white: #fff;
$color-black: #000;
$color-one: #C99383;
$color-two: #1e2022;
$color-three: #d8b2a7;
$color-four: #ba745f;
$color-five: #36393d;
$color-six: #060607;

@mixin font-color-light { color: $color-white; }

@mixin font-highlight-color { color: $highlight-color; }

$darkest-color: $color-one;
$highlight-color: $color-five;
$border-color: $color-two;
$link-color: $color-five;

$backdrop-opacity: 0.8;
$backdrop-opacity-dark: 0.9;
$backdrop-opacity-light: 0.7;
$backdrop-opacity-medium-light: 0.5;
$backdrop-opacity-super-light: 0.2;

$radius: 1rem;

$minimum-height: 700px;
$grid-breakpoints: (
  xs: 0,
  minimium: 375px,
  transition: 450px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  maximum: 1000px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px,
  xxxxl: 2450px
);

$zindex-cover: 10000 !default;
