div[class="col-12 p-0 section-action"]
  div[class="video-wrapper"]
    video[autoplay loop muted playsinline id="video-background"]
      source [src="/assets/images/backgrounds/officespace-frustration.mp4" type="video/mp4" id="video-background-video"]