@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin box-shadow($horiz: 0, $vert: 0, $blur: 0.5rem, $spread: 0.25rem, $color: $purple-darkest, $inset: "") {
  -webkit-box-shadow: $horiz $vert $blur $spread $color unquote($inset);
  -moz-box-shadow: $horiz $vert $blur $spread $color unquote($inset);
  box-shadow: $horiz $vert $blur $spread $color unquote($inset);
}

@mixin drop-shadow($horiz: 0, $vert: 0, $spread: 0.25rem, $color: $purple-darkest) {
  filter: drop-shadow($horiz $vert $spread $color);
}

@mixin box-shadow-all-sides () {
	@include box-shadow();
}

@mixin box-shadow-top-bottom-left-sides {
  box-shadow:
    -0.5rem -0.5rem 0.5rem 0.25rem $purple-darkest,
    -0.5rem 0 0.5rem 0.25rem $purple-darkest,
    -0.5rem 0.5rem 0.5rem 0.25rem $purple-darkest;
}

@mixin box-shadow-top-bottom-sides {
  box-shadow:
    -0.5rem 0 0.5rem 0.25rem $purple-darkest,
    0 0 0.5rem 0.25rem $purple-darkest;
}
