@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@mixin box-shadow($horiz: 0, $vert: 0, $blur: 0.5rem, $spread: 0.25rem, $color: $color-black, $inset: "") {
  -webkit-box-shadow: $horiz $vert $blur $spread $color unquote($inset);
  -moz-box-shadow: $horiz $vert $blur $spread $color unquote($inset);
  box-shadow: $horiz $vert $blur $spread $color unquote($inset);
}

@mixin drop-shadow($horiz: 0, $vert: 0, $spread: 0.25rem, $color: $color-black) {
  filter: drop-shadow($horiz $vert $spread $color);
}

@mixin box-shadow-all-sides ($color: $color-black) {
	@include box-shadow($color: $color);
}

@mixin box-shadow-top-left-right-sides {
  box-shadow:
		0 -0.25rem 0.25rem 0 $color-black,
		0.25rem -0.25rem 0.25rem 0 $color-black,
		-0.25rem -0.25rem 0.25rem 0 $color-black;
}

@function text-stroke($size: 2, $color: $color-white, $correction: 0) {
	$radius: $size - $correction;
	$stroke: ();

	@for $i from -$size through $size {
		@for $k from -$size through $size {

			$x: $k;
			$y: $i;

			@if $k > 0 {
				$x: $k - 0.5;
			}

 @elseif $k < 0 {
				$x: $k + 0.5;
			}

			@if $i > 0 {
				$y: $i - 0.5;
			}

 @elseif $i < 0 {
				$y: $i + 0.5;
			}

			@if ($x*$x + $y*$y <= $radius*$radius) {
				$stroke: append($stroke, $i*1px $k*1px 0 $color, comma);
			}
		}
	}

	@return $stroke;
}

@mixin text-stroke($width, $color) {
  $shadow: ();
  @for $i from -$width through $width {
    $shadow: append($shadow,#{$width}px #{$i}px $color, comma);
    $shadow: append($shadow,#{-$width}px #{$i}px $color, comma);
    $shadow: append($shadow,#{$i}px #{$width}px $color, comma);
    $shadow: append($shadow,#{$i}px #{-$width}px $color, comma);
  }
  text-shadow: $shadow;
}
