.about {
  @include box-shadow();

  @include media-breakpoint-up(xs) {
    background: url('#{$image-path}/pages/index/always-grey.png') repeat;
    padding: 0;
  }

  .section-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 1rem 1rem;
    }
  }
}
