.call-to-action {
  background: url('#{$image-path}/pages/index/cta-background.jpg') no-repeat;
  background-size: cover;
  background-position: top left;

  height: 100vh;

  @include media-breakpoint-up(xs) {
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }

  @include media-breakpoint-up(sm) {
    height: calc((var(--vh, 1vh) * 100) - 147px);
  }

  @include media-breakpoint-up(lg) {
    height: calc((var(--vh, 1vh) * 100) - 69px);
  }

  @include media-breakpoint-up(xs) {
    padding: 1rem 0 0 0;
  }

  .cta {
    @include secondary-font();

    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;

    embed {
      width: 50px;
    }
  }

  .signature {
    text-align: center;
    padding-top: 0.75rem;

    .fa-slash {
      font-size: 2rem;
    }

    embed {
      width: 125px;
    }
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .fa-quote-left {
    padding-right: 0.5rem;
  }

  .fa-quote-right {
    padding-left: 0.5rem;
  }
}
