.call-to-action {
  background: url('#{$image-path}/pages/index/cta-background.jpg') no-repeat;
  background-size: cover;
  background-position: top left;

  height: 100vh;

  @include media-breakpoint-up(xs) {
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }

  @include media-breakpoint-up(sm) {
    height: calc((var(--vh, 1vh) * 100) - 147px);
  }

  @include media-breakpoint-up(lg) {
    height: calc((var(--vh, 1vh) * 100) - 69px);
  }

  @include media-breakpoint-up(xs) {
    padding: 1rem 0 0 0;
  }

  embed {
    width: 50px;
  }
}
