.engagements {
  background: url('#{$image-path}/pages/index/engagements-background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;

  .section-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;

    .engagements-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 1rem 0;

      .header {
        background: rgba(240, 157, 55, $backdrop-opacity-super-light);
        padding: 1rem;

        .cta {
          @include secondary-font();

          font-weight: bold;
          text-transform: uppercase;
        }

        .fa-quote-left,
        .fa-quote-right {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;

          @include font-highlight-color();
        }

        .fa-quote-left {
          padding-right: 0.5rem;
        }

        .fa-quote-right {
          padding-left: 0.5rem;
        }
      }
    }
  }

  .engagements-projects-wrapper {
    @import "vendor/flexslider";

    @include media-breakpoint-up(xs) {
      padding: 0 0 1rem 0;

      .flexslider {
        margin: initial;
        border-radius: 0;
        background: $color-three;
        border: 4px solid $color-three;
      }

      .flex-direction-nav a:before {
        color: $color-two;
        font-size: 30px;
        content: "\276E";
      }
      .flex-direction-nav a.flex-next:before {
        content: "\276F";
      }

      .flex-image {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        embed {
          max-height: 125px;
          max-width: 275px;
        }
      }

      .flex-caption {
        left: 0;
        bottom: 0;
        width: initial;
        padding: 0.5rem;
        margin: 0 1.5rem;
        color: $color-one;
        font-size: 14px;
        line-height: 18px;

        span {
          display: block;
        }

        .company {
          @include impact-font();

          padding-bottom: 0.5rem;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 1rem;
          color: $color-two;
        }

        .collaboration {
          color: $color-one;
        }
      }
    }
  }

  .engagements-lottie-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xs) {
      flex: 1 1 auto;

      #lottie {
        width: 275px;
        height: 275px;
        margin: auto auto;
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: 0;
      flex: auto;
      padding-right: 2rem;
    }
  }

  @import "pages/index/cta-banner-wrapper";
}
