.engagements {
  background: url('#{$image-path}/pages/index/engagements-background.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 0;

  .section-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;

    .engagements-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 1rem 0;

      .header {
        background: rgba(240, 157, 55, $backdrop-opacity-super-light);
        padding: 1rem;

        .cta {
          @include secondary-font();

          font-weight: bold;
          text-transform: uppercase;
        }

        .fa-quote-left,
        .fa-quote-right {
          font-size: 1.5rem;
          padding-bottom: 0.5rem;

          @include font-highlight-color();
        }

        .fa-quote-left {
          padding-right: 0.5rem;
        }

        .fa-quote-right {
          padding-left: 0.5rem;
        }
      }
    }
  }

  .engagements-projects-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0 0 1rem 0;

      #projects-carousel {
        background: rgba(230, 233, 242, $backdrop-opacity-dark);
        min-height: 500px;

        .carousel-item {
          transition-duration: 0.5s;
        }

        .carousel-logo{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          min-height: 110px;

          embed {
            max-height: 100px;
            max-width: 275px;
          }
        }

        .carousel-caption {
          position: relative;
          left: 0;
          top: 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          padding: 1rem 3rem;

          span {
            display: block;
          }

          .company {
            @include impact-font();

            padding-bottom: 0.5rem;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1rem;
            color: $color-two;
          }

          .collaboration {
            color: $color-one;
          }
        }

        .carousel-control-next,
        .carousel-control-prev {
          opacity: initial;
          z-index: $zindex-tooltip;
        }

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
          background-image: none;
        }

        .carousel-control-next-icon:after,
        .carousel-control-prev-icon:after {
          font-size: 2rem;
          color: $color-four;
        }

        .carousel-control-next-icon:after {
          content: "\276F";
        }

        .carousel-control-prev-icon:after {
          content: "\276E";
        }

        .carousel-indicators li {
          background-color: $color-four;
        }
      }
    }
  }

  .engagements-lottie-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(xs) {
      flex: 1 1 auto;

      #lottie {
        width: 275px;
        height: 275px;
        margin: auto auto;
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: 0;
      flex: auto;
      padding-right: 2rem;
    }
  }

  @import "pages/index/cta-banner-wrapper";
}
