.section-venn-wrapper {
  background: url('#{$image-path}/backgrounds/dark-brick-wall.png') repeat;
  padding: 0.5rem 0 0 0;
  z-index: $zindex-sticky;

  @include media-breakpoint-up(xs) {
    @include box-shadow();
  }

  @include media-breakpoint-up(lg) {
    @include box-shadow-top-left-right-sides();
  }

  @include media-breakpoint-up(xl) {
    .d-xl-block {
      background: url('#{$image-path}/backgrounds/logo-blue.png') no-repeat;
      background-size: 500px;
      transform: translateY(-10%);
    }

    .d-xl-block.left {
      background-position: right center;
    }

    .d-xl-block.right {
      background-position: left center;
    }
  }

  @include media-breakpoint-up(xxl) {
    .d-xl-block.left {
      transform: translateY(-10%) translateX(-25%);
    }

    .d-xl-block.right {
      transform: translateY(-10%) translateX(25%);
    }
  }

  @include media-breakpoint-up(xxxl) {
    .d-xl-block.left {
      transform: translateY(-10%) translateX(-30%);
    }

    .d-xl-block.right {
      transform: translateY(-10%) translateX(30%);
    }
  }

  .section-process,
  .section-metrics,
  .section-values {
    .description {
      padding: 1.5rem 2.5rem;
    }

    .summary {
      @include secondary-font;

      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      background-color: $style-whitest;
      color: $style-highlight;
      border-top: 0.2rem solid $style-highlight;
      border-bottom: 0.2rem solid $style-highlight;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;

      svg {
        margin-right: 0.5rem;
      }
    }
  }

  @import "pages/index/section_venn";

  embed {
    @include media-breakpoint-up(xs) {
      height: 215px;
      width: 325px;
      max-width: 325px;
    }

    @include media-breakpoint-up(md) {
      height: 325px;
      width: 350px;
      max-width: 350px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 600px;
    }
  }

  .section-details-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 2rem 0 0 0;
    }

    @include media-breakpoint-up(xl) {
      padding: 2rem 1rem 0 1rem;
    }

    @import "pages/index/section_venn_process";
    @import "pages/index/section_venn_metrics";
    @import "pages/index/section_venn_values";
  }

  @import "pages/index/section_venn_call_to_action";
}
