.section-call-to-action-ios {
  min-height: 100vh !important;
  padding: 200px 0 0 0 !important;
  margin: -200px 0 0 0 !important;
}

.section-call-to-action {
  @include media-breakpoint-up(xs) {
    min-height: calc(100vh - 80px);
    padding: 0;
    margin: 0;

    .row {
      margin: 0;
      padding: 0;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 180px);
  }

  @include media-breakpoint-up(lg) {
    min-height: calc(100vh - 80px);
  }

  .call-to-action-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0;
      margin: 0;
    }

    .call-to-action {
      @include media-breakpoint-up(xs) {
        padding: 0;
        margin: 0;
      }

      text-align: center;

      .embed-wrapper {
        transform: translateY(-10%);
        background-color: rgba(255, 255, 255, $backdrop-opacity);
        box-shadow: 0 0 1rem 0.5rem $black-darkest;
        border-top: 0.2rem solid $black-darkest;
        padding: 0;
        margin: 0;

        embed {
          @include media-breakpoint-up(xs) {
            width: 450px;
            max-width: 450px;
            padding: 1rem 0;

            @include media-breakpoint-up(xs) {
              margin-left: -100px;
            }

            @include media-breakpoint-up(transition) {
              margin-left: -50px;
            }

            @include media-breakpoint-up(sm) {
              margin-left: 0;
            }
          }
        }

        .embed-explained {
          @include secondary-font;

          border-top: 0.2rem solid $black-darkest;
          background-color: $style-highlight;
          color: $style-whitest;
          text-align: center;
          padding: 1rem;
          font-size: 1.4rem;
          text-decoration: underline;
          cursor: pointer;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
