.services-banner {
  @include media-breakpoint-up(xs) {
    background: url('#{$image-path}/pages/index/vintage-wallpaper.png') repeat;
    padding: 1rem 0 0 0;
  }

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include media-breakpoint-up(lg) {
    background: none;
  }

  .section-wrapper {
    .services-banner-wrapper {
      @include media-breakpoint-up(xs) {
        background: rgba(230, 233, 242, $backdrop-opacity-light);
        border-radius: none;
      }

      @include media-breakpoint-up(md) {
        border-radius: $radius;
        max-width: map-get($grid-breakpoints, "lg");
      }

      @include media-breakpoint-up(maximum) {
        background: none;
      }
    }

    .content {
      font-size: 1rem;
      color: $darkest-color;

      @include media-breakpoint-up(maximum) {
        > .row:first-child {
          flex-wrap: nowrap;
        }
      }

      .header-wrapper {
        @include media-breakpoint-up(lg) {
          background: rgba(70, 73, 107, $backdrop-opacity-light);
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
      }

      .header {
        @include impact-font();

        color: $highlight-color;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        max-width: 4rem;

        @include media-breakpoint-up(xs) {
          background: rgba(70, 73, 107, $backdrop-opacity-light);
          text-orientation: upright;
          writing-mode: vertical-rl;
          max-width: 4rem;
        }

        @include media-breakpoint-up(lg) {
          border-radius: 0;
          background: none;
          text-orientation: initial;
          writing-mode: initial;
          max-width: initial;
          padding: 1rem;
        }
      }

      @include media-breakpoint-up(md) {
        .top {
          border-top-left-radius: 1rem;
        }

        .bottom{
          border-bottom-left-radius: 1rem;
        }
      }

      .description {
        @include media-breakpoint-up(xs) {
          padding: 1rem 1rem 1rem 1rem;
        }
      }

      @include media-breakpoint-up(lg) {
        .col-4 {
          background: rgba(230, 233, 242, $backdrop-opacity-light);
          margin-right: 1rem;
          border-radius: $radius;
          max-width: 300px;
        }
      }

      @include media-breakpoint-up(xl) {
        .col-4 {
          max-width: 325px;
        }
      }
    }
  }
}
