#contact {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .contact-page-outer-wrapper {
    @include box-shadow();

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1 1 auto;
    background: url('#{$image-path}/pages/contact/background.jpg') no-repeat top center;
    padding: 0;
    background-size: cover;

    @include media-breakpoint-up(xs) {
      padding-top: 2rem;
      padding-bottom: 4rem;
    }

    @import "pages/contact/contact-wrapper-inner";
  }

  @import "pages/index/cta-banner-wrapper";

  .cta-banner-wrapper {
    @media screen and (height >= 1400px) {
      @media screen and (width >= 2000px) {
        font-size: 6rem;

        .cta-banner {
          max-width: 2400px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
