.cta-banner-wrapper {
  @include box-shadow();
  @include secondary-font;

  color: $darkest-color;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  background: rgba(230, 233, 242, $backdrop-opacity-light);

  @include media-breakpoint-up(xs) {
    display: none;
    padding: 1rem;

    span {
      display: block;
    }

    a {
      color: $link-color;
      text-decoration: overline;
    }
  }

  @media (min-height: $minimum-height) {
    display: block;
    align-items: flex-end;

    .row {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @include media-breakpoint-up(sm) {
    span {
      display: inline;

      &:first-child {
        padding-right: 0.5rem;
      }

      &:last-child {
        display: block;
      }
    }
  }

  @include media-breakpoint-up(md) {
    span {
      &:last-child {
        display: inline;
        padding-left: 0.5rem;
      }
    }
  }
}
