.footer {
  padding: 1rem 0;

  .locations,
  .company {
    @include impact-font();

    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
  }

  @include media-breakpoint-up(xs) {
    span:nth-of-type(5)::after {
      content: "\A";
      white-space: pre;
    }

    span:nth-of-type(6) {
      display: none;
    }
  }

  @include media-breakpoint-up(md) {
    span:nth-of-type(5)::after {
      content: "";
      white-space: initial;
    }

    span:nth-of-type(6) {
      display: inline;
    }
  }
}
