html,
body {
  background-color: $bg-primary;
  color: $text-primary;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font-body;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hello-world {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h1 {
    font-family: $font-body;
    font-size: 4rem;
    font-weight: $font-weight-light;
    color: $text-accent;
  }
}

code,
pre,
kbd,
samp {
  font-family: $font-mono;
}
