.navbar {
  @include box-shadow();

  color: $style-whitest;
  background-color: $black-darkest;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;

  @include media-breakpoint-up(xs) {
    padding-top: 5px;
  }

  .navbar-wrapper {
    @include media-breakpoint-up(xs) {
      padding: 0.5rem 0;
    }

    @include media-breakpoint-up(maximum) {
      max-width: map-get($grid-breakpoints, "lg");
    }

    .navbar-toggler-wrapper {
      .navbar-title {
        text-align: left;
        padding-left: 5px;

        a {
          color: $style-whitest;
          text-decoration: none;
        }

        @include media-breakpoint-up(xs) {
          font-size: 1rem;
          padding-top: 0.5rem;

          embed {
            width: 40px;
            pointer-events: none;
          }
        }

        @include media-breakpoint-up(sm) {
          embed {
            margin-right: 1rem;
          }
        }

        @include media-breakpoint-up(lg) {
          font-size: 1.2rem;
        }
      }

      .navbar-button {
        @include media-breakpoint-up(xs) {
          padding-right: 0;
          text-align: right;
        }

        @include media-breakpoint-up(transition) {
          padding-right: 15px;
        }

        .navbar-toggler {
          color: $style-whitest;
          font-size: 1.25rem;
          line-height: 1;
          background-color: transparent;
          border: 1px solid $style-whitest;
          border-radius: 0.25rem;
          cursor: pointer;
          outline: none;
          padding: 0.5rem 1rem;
        }
      }

      @include media-breakpoint-up(xs) {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 5px;
      }

      @include media-breakpoint-up(transition) {
        padding-right: 15px;
      }
    }

    .navbar-nav-item-wrapper {
      padding-right: 0;
      padding-left: 0;

      @include media-breakpoint-up(xs) {
        padding-top: 5px;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 0;
      }

      .navbar-nav {
        border: none;

        @include media-breakpoint-up(xs) {
          padding-top: 10px;
        }

        @include media-breakpoint-up(lg) {
          padding-top: 0;
        }

        li {
          @include media-breakpoint-up(xs) {
            &:first-child {
              border-top: 0.15rem solid $style-highlight;
            }

            &:not(:last-child) {
              border-bottom: 0.15rem solid $style-highlight;

              @include media-breakpoint-up(sm) {
                border-right: 0.15rem solid $style-highlight;
              }
            }
          }

          @include media-breakpoint-up(sm) {
            &:not(:first-child) {
              border-top: 0.15rem solid $style-highlight;
            }

            &:last-child {
              border-bottom: 0.15rem solid $style-highlight;
            }
          }

          @include media-breakpoint-up(lg) {
            &:first-child,
            &:not(:last-child) {
              margin-right: 2rem;
            }

            &:first-child,
            &:not(:first-child),
            &:last-child {
              border: none;
            }
          }

          &:hover {
            @include media-breakpoint-up(xs) {
              background-color: $style-highlight;

              a {
                color: $style-whitest;
              }
            }

            @include media-breakpoint-up(lg) {
              background-color: $black-darkest;

              a {
                color: $style-highlight;
              }
            }
          }

          .nav-icon {
            @include media-breakpoint-up(xs) {
              margin-right: 0.3rem;
            }

            @include media-breakpoint-up(lg) {
              margin-top: 0.3rem;
              margin-right: 0.5rem;
            }
          }

          .nav-link {
            color: $style-whitest;
            padding: 0;

            @include media-breakpoint-up(xs) {
              @include secondary-font();

              font-size: 1rem;

              span {
                display: inline;
              }

              .nav-button {
                border-right: 0.15rem solid $style-highlight;
                padding: 1rem 1rem 1rem 1.5rem;
                margin-right: 1rem;
                display: inline-block;
                min-width: 75px;
                text-align: center;
              }
            }

            @include media-breakpoint-up(sm) {
              @include primary-font();

              font-size: 1rem;
              padding: 0.8rem 0.5rem;

              .nav-button {
                border-right: none;
                padding: initial;
                margin-right: initial;
                display: block;
                min-width: initial;
              }

              .nav-description {
                display: block;
                font-size: 1rem;
              }
            }

            @include media-breakpoint-up(lg) {
              display: inline-flex;

              .nav-description {
                font-size: 1.2rem;
              }
            }
          }

          @include media-breakpoint-up(xs) {
            text-align: left;
          }

          @include media-breakpoint-up(sm) {
            text-align: center;
          }
        }

        li.active {
          font-weight: bold;

          @include media-breakpoint-up(xs) {
            background-color: $style-highlight;

            a {
              color: $black-darkest;
            }
          }

          @include media-breakpoint-up(lg) {
            background-color: $black-darkest;
            border-bottom: 0.15rem solid $style-highlight;

            a {
              color: $style-highlight;
            }
          }
        }
      }
    }
  }
}
