#cover {
  background-color: $color-six;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  #preloader {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: $color-one;
    text-transform: uppercase;

    .first,
    .last {
      font-size: 6rem;
      animation: pulse 0.4s alternate infinite ease-in-out;
    }

    .first {
      padding-right: 0.5rem;
    }

    .middle {
      color: $color-three;
      padding-top: 1rem;
      text-align: center;
      font-size: 1.5rem;
    }

    .last {
      animation-delay: 0.4s;
      padding-left: 0.5rem;
    }
  }

  @keyframes pulse {
    to {
      transform: scale(0.8);
      opacity: 0.5;
    }
  }
}
