#engagements {
  color: $black-darkest;

  .content-wrapper {
    background: url('#{$image-path}/backgrounds/cork-board.png') repeat;
    min-height: 100vh;

    @include media-breakpoint-up(xs) {
      padding: 0;
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      .row:first-child {
        flex-grow: 1;
      }
    }
  }

  .section-engagements-wrapper {
    min-height: 100vh;
  }

  @include media-breakpoint-up(xl) {
    .d-xl-block {
      background: url('#{$image-path}/backgrounds/logo-black.png') no-repeat;
      background-size: 500px;
      transform: translateY(-10%);
    }

    .d-xl-block:first-child {
      background-position: right center;
    }

    .d-xl-block:last-child {
      background-position: left center;
    }
  }

  @include media-breakpoint-up(xxl) {
    .d-xl-block:first-child {
      background-position: center center;
    }

    .d-xl-block:last-child {
      background-position: center center;
    }
  }

  .contact-us {
    @include media-breakpoint-up(xs) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  .card {
    border-radius: 0;

    .card-company {
      @include impact-font();

      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(xs) {
      padding: 1rem 0;
      margin-bottom: 2rem;
      border-top: 0.2rem solid $black-darkest;
      border-bottom: 0.2rem solid $black-darkest;

      embed {
        max-width: 500px;
        max-height: 100px;
        padding: 0.5rem 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      border-left: 0.2rem solid $black-darkest;
      border-right: 0.2rem solid $black-darkest;
    }
  }

  .btn-primary {
    @include secondary-font();

    @include media-breakpoint-up(xs) {
      margin-left: 1rem;
      color: $style-highlight;
      background-color: $style-whitest;
      border-color: $style-whitest;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $style-whitest;
        background-color: $style-highlight;
        border-color: $style-whitest;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      color: $style-highlight;
      background-color: $style-whitest;
      border-color: $style-highlight;
    }
  }

  @import "pages/engagements/section_call_to_action";
}