#engagements {
  color: $black-darkest;

  .content-wrapper {
    background: url('#{$image-path}/backgrounds/dark-brick-wall.png') repeat;
    min-height: 100vh;

    @include media-breakpoint-up(xs) {
      padding: 0;
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      .row:first-child {
        flex-grow: 1;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .d-xl-block {
      background: url('#{$image-path}/backgrounds/logo-blue.png') no-repeat;
      background-size: 500px;
      transform: translateY(-10%);
    }

    .d-xl-block:first-child {
      background-position: right center;
    }

    .d-xl-block:last-child {
      background-position: left center;
    }
  }

  .contact-us {
    @include media-breakpoint-up(xs) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  .card {
    border-radius: 0;

    .card-company {
      @include impact-font();

      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(xs) {
      padding: 1rem 0;
      margin-bottom: 2rem;
      border-top: 0.2rem solid $style-highlight;
      border-bottom: 0.2rem solid $style-highlight;

      embed {
        max-width: 500px;
        max-height: 100px;
        padding: 0.5rem 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      border-left: 0.2rem solid $style-highlight;
      border-right: 0.2rem solid $style-highlight;
    }
  }

  .btn-primary {
    @include secondary-font();

    @include media-breakpoint-up(xs) {
      margin-left: 1rem;
      color: $style-highlight;
      background-color: $style-whitest;
      border-color: $style-whitest;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $style-whitest;
        background-color: $style-highlight;
        border-color: $style-whitest;
      }
    }

    @include media-breakpoint-up(lg) {
      margin-left: 0;
      color: $style-highlight;
      background-color: $style-whitest;
      border-color: $style-highlight;
    }
  }

  .section-robot-friends {
    margin-bottom: -3rem;
    text-align: center;

    embed {
      @include media-breakpoint-up(xs) {
        width: 150px;
        max-width: 150px;
      }
    }

    .call-to-action {
      border-top: 0.2rem solid $style-whitest;
      border-bottom: 0.2rem solid $style-whitest;
      background-color: $style-highlight;
      color: $style-whitest;
      text-align: center;
      text-transform: uppercase;
      padding: 1rem;
      font-weight: bold;
      font-size: 1.4rem;
      margin-bottom: 2rem;

      @include media-breakpoint-up(lg) {
        padding-bottom: 2rem;
      }
    }

    @include media-breakpoint-up(xs) {
      .row:last-child {
        padding-top: 2rem;
      }
    }
  }
}
