#remote {
  .content-wrapper {
    background: url('#{$image-path}/backgrounds/nasa.jpg') no-repeat;
    padding: 0;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  @import "pages/remote/ethos-wrapper";
  @import "pages/remote/section_call_to_action";

  .book-wrapper {
    @include secondary-font;

    background-color: rgba(4, 1, 5, $backdrop-opacity-light);
    padding: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: $style-whitest;
    font-size: 1.5rem;

    a {
      color: $style-whitest;
      text-decoration: underline;
    }

    ul {
      display: inline;
      list-style: none;
      padding-left: 0;

      li {
        display: inline;

        &::after {
          content: ', ';
          margin-left: -5px;
        }
      }

      li:last-child:after {
        content: "";
      }
    }
  }

  .section-hardware,
  .section-software,
  .section-psychology {
    .description {
      background-color: rgba(4, 1, 5, $backdrop-opacity-light);
      padding: 1.5rem 2.5rem;
    }

    .summary {
      @include secondary-font;

      padding-top: 1rem;
      padding-bottom: 1rem;
      margin: 0;
      background-color: $style-whitest;
      color: $style-highlight;
      border-top: 0.2rem solid $style-highlight;
      border-bottom: 0.2rem solid $style-highlight;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.4rem;
      text-align: center;

      svg {
        margin-right: 0.5rem;
      }
    }
  }
}
