#remote {
  .content-wrapper {
    background: url('#{$image-path}/backgrounds/nasa.jpg') no-repeat;
    padding: 0;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  @import "pages/remote/ethos-wrapper";
  @import "pages/remote/book-wrapper";
  @import "pages/remote/ethos-requirements-wrapper";
  @import "pages/remote/section_call_to_action";
}
