.book-wrapper {
  @include secondary-font;

  background-color: rgba(4, 1, 5, $backdrop-opacity-light);
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $style-whitest;
  font-size: 1.5rem;

  a {
    color: $style-whitest;
    text-decoration: underline;
  }

  ul {
    display: inline;
    list-style: none;
    padding-left: 0;

    li {
      display: inline;

      &::after {
        content: ', ';
        margin-left: -5px;
      }
    }

    li:last-child:after {
      content: "";
    }
  }
}