.book-wrapper {
  @include secondary-font;

  padding: 2rem;
  text-transform: uppercase;
  color: $style-whitest;
  font-size: 1.5rem;

  a {
    color: $style-whitest;
    text-decoration: underline;
  }

  @include media-breakpoint-up(xs) {
    background-color: rgba(4, 1, 5, $backdrop-opacity-light);
    text-align: center;

    span {
      display: block;
    }
  }

  @include media-breakpoint-up(lg) {
    background-color: initial;
    text-align: left;

    span {
      display: inline;
    }
  }

  ul {
    @include media-breakpoint-up(xs) {
      display: inline;
      list-style: none;
      padding-top: 0;
      padding-left: 0;

      li {
        display: inline;

        &::after {
          content: ', ';
          margin-left: -5px;
        }
      }

      li:last-child::after {
        content: "";
      }
    }

    @include media-breakpoint-up(lg) {
      display: table;
      margin: 0 auto;
      list-style-type: disc;
      padding-top: 1rem;

      li {
        display: list-item;

        &::after {
          content: "";
        }
      }
    }
  }
}
