.ethos-wrapper {
  background-color: rgba(4, 1, 5, $backdrop-opacity-light);

  @include media-breakpoint-up(xs) {
    padding: 2rem 2rem 1.5rem 2rem;
    border-top: 0.2rem solid $style-highlight;
    border-bottom: 0.2rem solid $style-highlight;
    margin-top: 2rem;
  }

  @include media-breakpoint-up(sm) {
    border: 0;
    outline: solid 0.2rem $style-whitest;
    outline-offset: -0.2rem;
  }

  @include media-breakpoint-up(lg) {
    outline: 0;
    border: 0.2rem solid $style-highlight;
    margin-bottom: 2rem;
  }
}