.section-call-to-action {
  .col-12 {
    @include secondary-font;

    margin-top: 2rem;
    border-top: 0.2rem solid $style-whitest;
    border-bottom: 0.2rem solid $style-whitest;
    background-color: $style-highlight;
    color: $style-whitest;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.4rem;

    @include media-breakpoint-up(xs) {
      span {
        display: block;
      }
    }

    @include media-breakpoint-up(sm) {
      span {
        display: inline;

        &:first-child {
          padding-right: 0.5rem;
        }
      }
    }
  }
}