html,
body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: $style-whitest;
  min-width: map-get($grid-breakpoints, 'minimium') !important;

  @include primary-font();

  font-size: 1rem;
  color: $black-darkest;
}
